/* Start imports*/

@import "normalize";
@import "vars";
@import "option-styles";

/* End imports*/


// Hero
.hero {
  position: relative;
  padding: 290px 0 243px;
  background: url(../images/jpg/hero-bg.jpg) center / cover no-repeat;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 34px 0;
  width: 100%;

  &__top {
    margin-bottom: 25px;
  }

  &__top,
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    display: flex;

    &-block {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:first-child {
        margin-right: 56px;
      }
    }

    &-first {
      font-family: PF Agora Slab Pro, sans-serif;
      font-weight: 700;
      font-size: 20px;;
      line-height: 24px;
      text-decoration: none;
      margin-bottom: 5px;
    }

    &-second {
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 14px;
      line-height: 17px;
    }

    &-first,
    &-second {
      color: var(--color-white);
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 42px;
    }
  }

  &__link {
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: var(--color-white);
  }
}

.hero {

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin-bottom: 56px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: var(--color-white);
  }

  &__subtitle {
    margin-bottom: 78px;
    max-width: 680px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: var(--color-white);
  }
}
// End hero


// Instalation

.instalation {
  padding: 100px 0;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    max-width: 1007px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    color: var(--color-black);

    &-blue {
      color: var(--color-blue);
    }

    &-thin {
      font-weight: 400;
    }
  }
}

// End Instalation


// Numeral

.numeral {
  border: 1px solid #e0dfdf;
  background: #f5f7f9;

  &__content {
    display: grid;
    grid-template-columns: 243px 1fr;
  }

  &__left,
  &__right {
    padding: 102px 0;
  }

  &__right {
    padding-left: 56px;
  }

  &__left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-blue-2);

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100vh;
      height: 100%;
      background: url(../images/png/numeral-left-bg.png) center / cover no-repeat;
    }

    &-text {
      position: relative;
      z-index: 2;
      font-family: PF Agora Slab Pro;
      font-size: 36px;
      line-height: 58px;
      color: var(--color-white);

      &--bold {
        font-weight: 700;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 195px;

    &-img {
      margin-bottom: 17px;
    }

    &-p {
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 18px;
      line-height: 29px;
      color: var(--color-black);
    }

    &-span {
      font-family: PF Agora Slab Pro, sans-serif;
      font-weight: 700;
      font-size: 64px;
      line-height: 103px;
      color: var(--color-dark-1);
    }
  }
}

// End Numeral


// Services

.services {
  padding: 100px;

  &__title {
    margin-bottom: 70px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 36px;
    line-height: 58px;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-black);

    &--blue {
      font-weight: 700;
      color: var(--color-blue);
    }
  }

  &__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #E0DFDF;
    padding: 40px 50px 55px;
    background: #F5F7F9;

    &-img {
      margin-bottom: 15px;
    }

    &-text {
      max-width: 269px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 22px;
      line-height: 31px;
      text-align: center;
      color: var(--color-black);
    }
  }
}

// End Services