/* Start imports*/
/* Normalize */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, .wrapper {
  height: 100%; }

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px; }

/* End normalize */
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #61b0df;
  --color-blue-2: #2C96D5;
  --color-dark-1: #020202; }

.button {
  display: block;
  border-radius: 50px;
  padding: 24px 64px;
  text-decoration: none;
  background: linear-gradient(308.06deg, #2D96D4 29.63%, #50C8FF 91.17%); }
  .button__text {
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-white); }

/* End imports*/
.hero {
  position: relative;
  padding: 290px 0 243px;
  background: url(../images/jpg/hero-bg.jpg) center/cover no-repeat; }

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 34px 0;
  width: 100%; }
  .header__top {
    margin-bottom: 25px; }
  .header__top, .header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__info {
    display: flex; }
    .header__info-block {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .header__info-block:first-child {
        margin-right: 56px; }
    .header__info-first {
      font-family: PF Agora Slab Pro, sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-decoration: none;
      margin-bottom: 5px; }
    .header__info-second {
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 14px;
      line-height: 17px; }
    .header__info-first, .header__info-second {
      color: var(--color-white); }
  .header__list {
    display: flex;
    align-items: center; }
  .header__item:not(:last-child) {
    margin-right: 42px; }
  .header__link {
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: var(--color-white); }

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
.hero__title {
  margin-bottom: 56px;
  font-family: PF Agora Slab Pro, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: var(--color-white); }
.hero__subtitle {
  margin-bottom: 78px;
  max-width: 680px;
  font-family: PF Agora Slab Pro, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: var(--color-white); }

.instalation {
  padding: 100px 0; }
  .instalation__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .instalation__title {
    max-width: 1007px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    color: var(--color-black); }
    .instalation__title-blue {
      color: var(--color-blue); }
    .instalation__title-thin {
      font-weight: 400; }

.numeral {
  border: 1px solid #e0dfdf;
  background: #f5f7f9; }
  .numeral__content {
    display: grid;
    grid-template-columns: 243px 1fr; }
  .numeral__left, .numeral__right {
    padding: 102px 0; }
  .numeral__right {
    padding-left: 56px; }
  .numeral__left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-blue-2); }
    .numeral__left::before {
      content: "";
      position: absolute;
      z-index: 1;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100vh;
      height: 100%;
      background: url(../images/png/numeral-left-bg.png) center/cover no-repeat; }
    .numeral__left-text {
      position: relative;
      z-index: 2;
      font-family: PF Agora Slab Pro;
      font-size: 36px;
      line-height: 58px;
      color: var(--color-white); }
      .numeral__left-text--bold {
        font-weight: 700; }
  .numeral__list {
    display: flex;
    justify-content: space-between; }
  .numeral__item {
    max-width: 195px; }
    .numeral__item-img {
      margin-bottom: 17px; }
    .numeral__item-p {
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 18px;
      line-height: 29px;
      color: var(--color-black); }
    .numeral__item-span {
      font-family: PF Agora Slab Pro, sans-serif;
      font-weight: 700;
      font-size: 64px;
      line-height: 103px;
      color: var(--color-dark-1); }

.services {
  padding: 100px; }
  .services__title {
    margin-bottom: 70px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 36px;
    line-height: 58px;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-black); }
    .services__title--blue {
      font-weight: 700;
      color: var(--color-blue); }
  .services__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr; }
  .services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #E0DFDF;
    padding: 40px 50px 55px;
    background: #F5F7F9;
    cursor: pointer; }
    .services__item-img {
      margin-bottom: 15px; }
    .services__item-text {
      max-width: 269px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 22px;
      line-height: 31px;
      text-align: center;
      color: var(--color-black); }

.calculate {
  padding: 100px 0;
  background: #f5f7f9; }
  .calculate__title {
    margin-bottom: 224px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    color: var(--color-black); }
    .calculate__title--thin {
      font-weight: 400; }
  .calculate__way {
    margin-bottom: 30px;
    padding: 0 100px; }
    .calculate__way-img {
      width: 100%;
      height: auto; }
  .calculate__form {
    display: flex;
    justify-content: space-between; }
    .calculate__form-column {
      max-width: 270px; }
      .calculate__form-column:first-child .calculate__form-select {
        margin-bottom: 77px; }
      .calculate__form-column:nth-child(2) .calculate__form-select {
        margin-bottom: 45px; }
      .calculate__form-column:nth-child(3) .calculate__form-input:nth-child(4) {
        margin-bottom: 90px; }
    .calculate__form-title {
      margin-bottom: 70px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: var(--color-black); }
    .calculate__form-select {
      border: 0;
      outline: none;
      border-bottom: 1px solid #000;
      padding: 0 0 8px 8px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-black);
      background: transparent; }
    .calculate__form-img {
      width: 100%;
      height: auto; }
    .calculate__form-input {
      border: 0;
      outline: none;
      border-bottom: 1px solid #000;
      margin-bottom: 22px;
      padding: 0 0 8px 8px;
      width: 100%;
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-black);
      background: transparent; }
      .calculate__form-input::placeholder {
        color: var(--color-black); }
      .calculate__form-input::-moz-placeholder {
        color: var(--color-black); }
      .calculate__form-input::-webkit-input-placeholder {
        color: var(--color-black); }
      .calculate__form-input:-ms-input-placeholder {
        color: var(--color-black); }
      .calculate__form-input::-ms-input-placeholder {
        color: var(--color-black); }
    .calculate__form-checkbox span {
      margin-bottom: 16px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-black); }
    .calculate__form-checkbox:last-child span {
      margin-bottom: 0; }
    .calculate__form-checkbox input {
      position: absolute;
      z-index: -1;
      opacity: 0; }
    .calculate__form-checkbox > span {
      display: inline-flex;
      align-items: center;
      user-select: none; }
    .calculate__form-checkbox > span::before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 25px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 0.25em;
      margin-right: 18px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%; }
    .calculate__form-checkbox input:not(:disabled):not(:checked) + span:hover::before {
      border-color: #b3d7ff; }
    .calculate__form-checkbox > input:not(:disabled):active + span::before {
      background-color: #b3d7ff;
      border-color: #b3d7ff; }
    .calculate__form-checkbox > input:checked + span::before {
      border-color: #42B5EE;
      background-color: #42B5EE;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"); }
    .calculate__form-checkbox > input:disabled + span::before {
      background-color: #e9ecef; }
    .calculate__form-button {
      border: 0;
      outline: none;
      border-radius: 50px;
      box-shadow: 0px 5px 20px 2px rgba(124, 125, 129, 0.29);
      padding: 23px 75px;
      background: linear-gradient(308.06deg, #2D96D4 29.63%, #50C8FF 91.17%);
      cursor: pointer; }
      .calculate__form-button span {
        font-family: PF Agora Slab Pro, sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: var(--color-white); }

.flat {
  padding: 100px 0;
  background: #f5f7f9; }
  .flat__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .flat__title {
    margin-bottom: 76px;
    max-width: 710px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    color: var(--color-black); }
    .flat__title--blue {
      color: var(--color-blue); }
    .flat__title--bold {
      font-weight: 700; }
  .flat__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%; }
  .flat__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E0DFDF;
    padding: 32px 60px 20px;
    background: #F5F7F9; }
    .flat__item-img {
      margin-bottom: 25px; }
    .flat__item-text {
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 22px;
      line-height: 35px;
      text-align: center;
      color: var(--color-black); }

.work {
  padding: 100px 0; }
  .work__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .work__title {
    margin-bottom: 70px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-black); }
    .work__title--blue {
      font-weight: 700;
      color: var(--color-blue); }
  .work__slider-container {
    position: relative;
    max-width: 1032px; }
  .work__slider-slide {
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 1fr 1fr 1fr; }
  .work__slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 24px 10px;
    min-height: 201px;
    background: url(../images/jpg/work-slide-item-bg.jpg) center/cover no-repeat; }
    .work__slider-item-name {
      margin-bottom: 13px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 18px;
      line-height: 29px;
      text-align: center;
      color: var(--color-white); }
    .work__slider-item-adress {
      margin-bottom: 20px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-weight: 700;
      font-size: 22px;
      line-height: 35px;
      text-align: center;
      color: var(--color-white); }
    .work__slider-item-number {
      font-family: PF Agora Slab Pro, sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 39px;
      text-align: center;
      color: var(--color-blue); }
  .work__slider-arrow {
    border: 0;
    outline: none;
    margin: 0;
    padding: 0;
    background: transparent;
    cursor: pointer; }
  .work__slider-prev {
    position: absolute;
    left: -38px;
    top: 50%;
    transform: translateY(-50%); }
  .work__slider-next {
    position: absolute;
    right: -38px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg); }

.blog {
  padding: 100px 0;
  background: #f5f7f9; }
  .blog__title {
    margin-bottom: 70px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 36px;
    line-height: 58px;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-black); }
  .blog__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); }
  .blog__item {
    max-width: 270px; }
    .blog__item-img {
      margin-bottom: 7px;
      width: 100%;
      height: auto; }
    .blog__item-time {
      display: flex;
      align-items: center;
      margin-bottom: 7px; }
      .blog__item-time-img {
        width: 17px;
        height: 17px;
        margin-right: 7px; }
      .blog__item-time-text {
        margin-top: 3px;
        font-family: PF Agora Slab Pro, sans-serif;
        font-size: 9px;
        line-height: 12px;
        color: var(--color-black); }
    .blog__item-block {
      padding-right: 20px; }
    .blog__item-title {
      margin-bottom: 7px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      color: var(--color-black); }
    .blog__item-text {
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 10px;
      line-height: 14px;
      color: var(--color-black); }

.clients {
  padding: 100px 0; }
  .clients__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .clients__title {
    margin-bottom: 70px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-black); }
    .clients__title--blue {
      font-weight: 700;
      color: var(--color-blue); }
  .clients__slider-container {
    position: relative;
    max-width: 1032px; }
  .clients__slider-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 189px; }
    .clients__slider-slide-img {
      margin-bottom: 30px;
      width: 100%;
      height: auto;
      box-shadow: 0px 5px 20px 2px rgba(124, 125, 129, 0.29); }
    .clients__slider-slide-name {
      margin-bottom: 8px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 22px;
      line-height: 35px;
      text-align: center;
      color: var(--color-black); }
    .clients__slider-slide-text {
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 17px;
      line-height: 27px;
      text-align: center;
      color: var(--color-black); }
  .clients__slider-arrow {
    border: 0;
    outline: none;
    margin: 0;
    padding: 0;
    background: transparent;
    cursor: pointer; }
  .clients__slider-prev {
    position: absolute;
    left: -38px;
    top: 50%;
    transform: translateY(-50%); }
  .clients__slider-next {
    position: absolute;
    right: -38px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg); }

.footer {
  padding: 88px 0;
  background: #3C3D40; }
  .footer__content {
    display: flex;
    justify-content: space-between; }
  .footer__left, .footer__right {
    display: flex;
    align-items: center; }
  .footer__logo {
    margin-right: 110px;
    width: 53px;
    height: 23px; }
    .footer__logo-img {
      width: 100%;
      object-fit: contain; }
  .footer__socials {
    display: flex; }
  .footer__social, .footer__tern, .footer__copy {
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: var(--color-white); }
  .footer__social:first-child {
    margin-right: 31px; }
  .footer__tern {
    margin-right: 78px; }

/*# sourceMappingURL=app.css.map */
