/* Start imports*/

@import "normalize";
@import "vars";
@import "option-styles";

/* End imports*/


// Hero
.hero {
  position: relative;
  padding: 290px 0 243px;
  background: url(../images/jpg/hero-bg.jpg) center / cover no-repeat;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 34px 0;
  width: 100%;

  &__top {
    margin-bottom: 25px;
  }

  &__top,
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    display: flex;

    &-block {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:first-child {
        margin-right: 56px;
      }
    }

    &-first {
      font-family: PF Agora Slab Pro, sans-serif;
      font-weight: 700;
      font-size: 20px;;
      line-height: 24px;
      text-decoration: none;
      margin-bottom: 5px;
    }

    &-second {
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 14px;
      line-height: 17px;
    }

    &-first,
    &-second {
      color: var(--color-white);
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 42px;
    }
  }

  &__link {
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: var(--color-white);
  }

  &.header-none-position {
    position: static;
    margin-bottom: 60px;

    p,
    a {
      color: var(--color-black);
    }
  }
}

.hero {

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin-bottom: 56px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: var(--color-white);
  }

  &__subtitle {
    margin-bottom: 78px;
    max-width: 680px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: var(--color-white);
  }
}
// End hero


// Instalation

.instalation {
  padding: 100px 0;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    max-width: 1007px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    color: var(--color-black);

    &-blue {
      color: var(--color-blue);
    }

    &-thin {
      font-weight: 400;
    }
  }
}

// End Instalation


// Numeral

.numeral {
  border: 1px solid #e0dfdf;
  background: #f5f7f9;

  &__content {
    display: grid;
    grid-template-columns: 243px 1fr;
  }

  &__left,
  &__right {
    padding: 102px 0;
  }

  &__right {
    padding-left: 56px;
  }

  &__left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-blue-2);

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100vh;
      height: 100%;
      background: url(../images/png/numeral-left-bg.png) center / cover no-repeat;
    }

    &-text {
      position: relative;
      z-index: 2;
      font-family: PF Agora Slab Pro;
      font-size: 36px;
      line-height: 58px;
      color: var(--color-white);

      &--bold {
        font-weight: 700;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 195px;

    &-img {
      margin-bottom: 17px;
    }

    &-p {
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 18px;
      line-height: 29px;
      color: var(--color-black);
    }

    &-span {
      font-family: PF Agora Slab Pro, sans-serif;
      font-weight: 700;
      font-size: 64px;
      line-height: 103px;
      color: var(--color-dark-1);
    }
  }
}

// End Numeral


// Services

.services {
  padding: 100px;

  &__title {
    margin-bottom: 70px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 36px;
    line-height: 58px;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-black);

    &--blue {
      font-weight: 700;
      color: var(--color-blue);
    }
  }

  &__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #E0DFDF;
    padding: 40px 50px 55px;
    background: #F5F7F9;
    cursor: pointer;

    &-img {
      margin-bottom: 15px;
    }

    &-text {
      max-width: 269px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 22px;
      line-height: 31px;
      text-align: center;
      color: var(--color-black);
    }
  }
}

// End Services


// Calculate

.calculate {
  padding: 100px 0;
  background: #f5f7f9;

  &__title {
    margin-bottom: 224px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    color: var(--color-black);

    &--thin {
      font-weight: 400;
    }
  }

  &__way {
    margin-bottom: 30px;
    padding: 0 100px;

    &-img {
      width: 100%;
      height: auto;
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;

    &-column {
      max-width: 270px;

      &:first-child {

        .calculate__form-select {
          margin-bottom: 77px;
        }
      }

      &:nth-child(2) {

        .calculate__form-select {
          margin-bottom: 45px;
        }
      }

      &:nth-child(3) {

        .calculate__form-input:nth-child(4) {
          margin-bottom: 90px;
        }
      }
    }

    &-title {
      margin-bottom: 70px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: var(--color-black);
    }

    &-select {
      border: 0;
      outline: none;
      border-bottom: 1px solid #000;
      padding: 0 0 8px 8px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-black);
      background: transparent;
    }

    &-img {
      width: 100%;
      height: auto;
    }

    &-input {
      border: 0;
      outline: none;
      border-bottom: 1px solid #000;
      margin-bottom: 22px;
      padding: 0 0 8px 8px;
      width: 100%;
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-black);
      background: transparent;

      &::placeholder {
        color: var(--color-black);
      }

      &::-moz-placeholder {
        color: var(--color-black);
      }

      &::-webkit-input-placeholder {
        color: var(--color-black);
      }

      &:-ms-input-placeholder {
        color: var(--color-black);
      }

      &::-ms-input-placeholder {
        color: var(--color-black);
      }
    }

    // Styles for custom checkbox
    &-checkbox {

      span {
        margin-bottom: 16px;
        font-family: PF Agora Slab Pro, sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: var(--color-black);
      }

      &:last-child span {
        margin-bottom: 0;
      }
    }

    &-checkbox input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    &-checkbox > span {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }

    &-checkbox > span::before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 25px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 0.25em;
      margin-right: 18px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }

    &-checkbox  input:not(:disabled):not(:checked) + span:hover::before {
      border-color: #b3d7ff;
    }

    &-checkbox > input:not(:disabled):active + span::before {
      background-color: #b3d7ff;
      border-color: #b3d7ff;
    }

    &-checkbox > input:checked + span::before {
      border-color: #42B5EE;
      background-color: #42B5EE;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    &-checkbox > input:disabled + span::before {
      background-color: #e9ecef;
    }
    // End Styles for custom checkbox

    &-button {
      border: 0;
      outline: none;
      border-radius: 50px;
      box-shadow: 0px 5px 20px 2px rgba(124, 125, 129, 0.29);
      padding: 23px 75px;
      background: linear-gradient(308.06deg, #2D96D4 29.63%, #50C8FF 91.17%);
      cursor: pointer;

      span {
        font-family: PF Agora Slab Pro, sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: var(--color-white);
      }
    }
  }
}

// End Calculate


// Flat

.flat {
  padding: 100px 0;
  background: #f5f7f9;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 76px;
    max-width: 710px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    color: var(--color-black);


    &--blue {
      color: var(--color-blue);
    }

    &--bold {
      font-weight: 700;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E0DFDF;
    padding: 32px 60px 20px;
    background: #F5F7F9;

    &-img {
      margin-bottom: 25px;
    }

    &-text {
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 22px;
      line-height: 35px;
      text-align: center;
      color: var(--color-black);
    }
  }
}

// End Flat


// work

.work {
  padding: 100px 0;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 70px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-black);

    &--blue {
      font-weight: 700;
      color: var(--color-blue);
    }
  }

  &__slider {

    &-container {
      position: relative;
      max-width: 1032px;
    }

    &-slide {
      display: grid;
      grid-gap: 30px;
      grid-template-rows: 1fr 1fr 1fr;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 24px 10px;
      min-height: 201px;
      background: url(../images/jpg/work-slide-item-bg.jpg) center / cover no-repeat;

      &-name {
        margin-bottom: 13px;
        font-family: PF Agora Slab Pro, sans-serif;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        color: var(--color-white);
      }

      &-adress {
        margin-bottom: 20px;
        font-family: PF Agora Slab Pro, sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 35px;
        text-align: center;
        color: var(--color-white);
      }

      &-number {
        font-family: PF Agora Slab Pro, sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 39px;
        text-align: center;
        color: var(--color-blue);
      }
    }

    &-arrow {
      border: 0;
      outline: none;
      margin: 0;
      padding: 0;
      background: transparent;
      cursor: pointer;
    }

    &-prev {
      position: absolute;
      left: -38px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-next {
      position: absolute;
      right: -38px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

// End work


// Blog

.blog {
  padding: 100px 0;
  background: #f5f7f9;

  &__title {
    margin-bottom: 70px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 36px;
    line-height: 58px;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-black);
  }

  &__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat( auto-fit, minmax(270px, 1fr) );
  }

  &__item {
    max-width: 270px;

    &-img {
      margin-bottom: 7px;
      width: 100%;
      height: auto;
    }

    &-time {
      display: flex;
      align-items: center;
      margin-bottom: 7px;

      &-img {
        width: 17px;
        height: 17px;
        margin-right: 7px;
      }

      &-text {
        margin-top: 3px;
        font-family: PF Agora Slab Pro, sans-serif;
        font-size: 9px;
        line-height: 12px;
        color: var(--color-black);
      }
    }

    &-block {
      padding-right: 20px;
    }

    &-title {
      margin-bottom: 7px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      color: var(--color-black);
    }

    &-text {
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 10px;
      line-height: 14px;
      color: var(--color-black);
    }
  }
}

// End Blog


// clients

.clients {
  padding: 100px 0;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 70px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-black);

    &--blue {
      font-weight: 700;
      color: var(--color-blue);
    }
  }

  &__slider {

    &-container {
      position: relative;
      max-width: 1032px;
    }

    &-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 189px;

      &-img {
        margin-bottom: 30px;
        width: 100%;
        height: auto;
        box-shadow: 0px 5px 20px 2px rgba(124, 125, 129, 0.29);
      }

      &-name {
        margin-bottom: 8px;
        font-family: PF Agora Slab Pro, sans-serif;
        font-size: 22px;
        line-height: 35px;
        text-align: center;
        color: var(--color-black);
      }

      &-text {
        font-family: PF Agora Slab Pro, sans-serif;
        font-size: 17px;
        line-height: 27px;
        text-align: center;
        color: var(--color-black);
      }
    }

    &-arrow {
      border: 0;
      outline: none;
      margin: 0;
      padding: 0;
      background: transparent;
      cursor: pointer;
    }

    &-prev {
      position: absolute;
      left: -38px;
      top: 50%;
      transform: translateY(-50%);
    }

    &-next {
      position: absolute;
      right: -38px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

// End clients


// contacts

.contacts {
  padding: 190px 0;
  background: url(../images/jpg/landing-map.jpg) center / cover no-repeat;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__left,
  &__right {
    max-width: 328px;
    padding: 70px 26px;
    box-shadow: 0px 5px 20px 2px rgba(124, 125, 129, 0.29);
    background: #3C3D40;
  }

  &__left {

    &-text {
      margin-bottom: 29px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      color: var(--color-white);
    }

    &-input {
      border: 0;
      outline: none;
      border-bottom: 1px solid #fff;
      margin-bottom: 22px;
      padding: 0 0 8px 8px;
      width: 100%;
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-white);
      background: transparent;

      &:nth-child(4) {
        margin-bottom: 40px;
      }

      &::placeholder {
        color: var(--color-white);
      }

      &::-moz-placeholder {
        color: var(--color-white);
      }

      &::-webkit-input-placeholder {
        color: var(--color-white);
      }

      &:-ms-input-placeholder {
        color: var(--color-white);
      }

      &::-ms-input-placeholder {
        color: var(--color-white);
      }
    }

    &-button {
      display: block;
      border-radius: 50px;
      padding: 16px;
      width: 100%;
      box-shadow: 0px 5px 20px 2px rgba(124, 125, 129, 0.29);
      text-decoration: none;
      text-align: center;
      background: linear-gradient(308.06deg, #2D96D4 29.63%, #50C8FF 91.17%);

      span {
        font-family: PF Agora Slab Pro, sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: var(--color-white);
      }
    }
  }

  &__right {

    &-container {
      padding-left: 49px;
    }

    &-info {
      position: relative;
      display: block;
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 18px;
      line-height: 28px;
      text-decoration: none;
      color: var(--color-white);

      &::before {
        position: absolute;
        left: -50px;
        top: 0;
        width: 21px;
        height: 21px;
      }

      &:first-child {

        &::before {
          content: url(../images/svg/contacts-icon-1.svg);
        }
      }

      &:nth-child(2) {

        &::before {
          content: url(../images/svg/contacts-icon-2.svg);
        }
      }

      &:last-child {

        &::before {
          content: url(../images/svg/contacts-icon-3.svg);
        }
      }

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    &-link {
      display: block;
      font-weight: 700;
      font-size: 22px;
      text-decoration: none;
      color: var(--color-white);
    }
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
    width: 54px;
    height: 23px;
    
    &-img {
      width: 100%;
      height: auto;
    }
  }
}
// End contacts


// footer

.footer {
  padding: 88px 0;
  background: #3C3D40;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 110px;
    width: 53px;
    height: 23px;

    &-img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__socials {
    display: flex;
  }

  &__social,
  &__tern,
  &__copy {
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: var(--color-white);
  }

  &__social {

    &:first-child {
      margin-right: 31px;
    }
  }

  &__tern {
    margin-right: 78px;
  }
}

// End footer


//============
// landing end


// breadkcrumbs

.breadcrumbs {

  &__list {
    display: flex;
    margin-bottom: 20px;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__link {
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-blue);
  }

  &__empty {
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-black);
  }
}

// End breadkcrumbs


// services-open

.services-open {
  padding-bottom: 100px;

  &__title {
    margin-bottom: 50px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    color: var(--color-black);
  }

  &__text {
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 18px;
    line-height: 29px;
    color: var(--color-black);

    &-block {
      margin-bottom: 50px;
    }

    &--margin {
      margin-bottom: 45px;
    }
  }

  &__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E0DFDF;
    padding: 35px 50px 25px;
    background: #F5F7F9;

    &-img {
      margin-bottom: 10px;
    }

    &-text {
      margin-bottom: 8px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 22px;
      line-height: 31px;
      text-align: center;
      color: var(--color-black);
    }

    &-link {
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      text-decoration: underline;
      color: var(--color-blue-2);
    }
  }
}

// End services-open


// services-link

.services-link {
  padding-bottom: 100px;

  &__title {
    margin-bottom: 50px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    color: var(--color-black);
  }

  &__block {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 370px;
  }

  &__img {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
  }

  &__time {
    display: flex;
    align-items: center;
    margin-bottom: 23px;

    &-img {
      margin-right: 10px;
      width: 24px;
      height: 24px;
    }

    &-text {
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 12px;
      line-height: 17px;
      color: var(--color-black);
    }
  }

  &__text {
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 18px;
    line-height: 29px;
    color: var(--color-black);

    &--margin {
      margin-bottom: 45px;
    }
  }

  &__right {

    &-block {
      border: 1px solid #E0DFDF;
      padding: 33px 26px;
      background: #fff;
    }

    &-title {
      margin-bottom: 20px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 32px;
      color: var(--color-black);
    }
  }

  &__form {
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 50px;
    padding: 14px 13px 14px 30px;
    background: #fff;
    box-shadow: 0px 5px 20px 2px rgba(124, 125, 129, 0.29);
  }

  &__input {
    flex: 1;
    border: 0;
    outline: none;
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    background: transparent;
  }

  &__button {
    border: 0;
    outline: none;
    background: transparent;
  }

  &__another {

    &-list {
      padding-left: 30px;
    }

    &-item {
      max-width: 173px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 16px;
      line-height: 23px;
      color: var(--color-black);

      &:not(:last-child) {
        margin-bottom: 28px;
      }
    }
  }
}

// End services-link


// Work-open

.work-open {
  padding-bottom: 100px;

  &__title {
    margin-bottom: 50px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    text-transform: uppercase;
    color: var(--color-black);
  }

  &__form {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 50px;

    &-item {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      border-bottom: 2px solid var(--color-black);
      padding-bottom: 8px;

      &::after {
        content: url(../images/svg/work-open-arrow.svg);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-70%);
      }
    }

    &-label,
    &-select {
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-black);
    }

    &-label {
      margin-right: 5px;
    }

    &-select {
      border: 0;
      outline: 0;
      padding-right: 21px;
    }
  }

  &__list {

  }

  &__item {
    display: grid;
    grid-gap: 69px;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #E0DFDF;
    padding: 40px;
    background: #fff;
    box-shadow: 0px 5px 20px 2px rgba(124, 125, 129, 0.29);

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-title {
      margin-bottom: 30px;
      font-family: PF Agora Slab Pro, sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 39px;
      color: var(--color-black);
    }

    &-row {
      margin-bottom: 25px;

      &--margin {
        margin-bottom: 120px;
      }
    }

    &-text {
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 18px;
      line-height: 41px;
      color: var(--color-black);

      &--black {
        margin-right: 5px;
        font-weight: 700;
      }
    }

    &-link {
      display: inline-block;
      border-radius: 50px;
      padding: 5px 31px;
      box-shadow: 0px 5px 20px 2px rgba(124, 125, 129, 0.29);
      text-decoration: none;
      background: linear-gradient(308.06deg, #2D96D4 29.63%, #50C8FF 91.17%);

      span {
        font-family: PF Agora Slab Pro, sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 49px;
        color: var(--color-white);
      }
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}

// End work-open


// work-link

.work-link {

  &__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// End work-link


// about

.about {
  padding-bottom: 100px;

  &__title,
  &__title-second {
    margin-bottom: 50px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    text-transform: uppercase;
    color: var(--color-black);
  }

  &__text {
    margin-bottom: 70px;
    font-family: PF Agora Slab Pro, sans-serif;
    font-size: 18px;
    line-height: 29px;
    color: var(--color-black);
  }

  &__title-second {
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E0DFDF;
    padding: 35px 38px 20px;
    background: #F5F7F9;

    &-img {
      margin-bottom: 17px;
    }

    &-text {
      font-family: PF Agora Slab Pro, sans-serif;
      font-size: 22px;
      line-height: 35px;
      text-align: center;
      color: var(--color-black);
    }
  }
}

// End about


// blog-open

.blog-open {
  padding-bottom: 100px;

  .serivices-link__left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .services-link__another-item {
    max-width: none;

    a {
      text-decoration: none;
      color: var(--color-black);
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__list {
    display: grid;
    grid-gap: 40px 30px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 75px;
    widows: 100%;
  }

  .blog__item {
    max-width: none;

    &-link {
      text-decoration: none;
    }
  }

  &__more {
    display: inline-block;
    border-radius: 50px;
    padding: 5px 28px;
    text-decoration: none;
    text-align: center;
    background: linear-gradient(308.06deg, #2D96D4 29.63%, #50C8FF 91.17%);

    &-text {
      font-family: PF Agora Slab Pro, sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 49px;
      color: var(--color-white);
    }
  }
}

// End blog-open


// blog-link

.blog-link {
  padding-bottom: 100px;
  .services-link__another-item {
    max-width: none;

    a {
      text-decoration: none;
      color: var(--color-black);
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

// End blog-link